<div id = "session_signup"></div>
<h1>Hello session</h1>
<%= render 'fb_scripts/fb_login' %>

<h1>Or</h1>


<%= render 'session_form' %>
<%= link_to 'Sign up with Email', new_user_path %>
<p>or</p>
<%= render 'fb_scripts/fb_signup' %>
