<div class = "rating_about_header">
  <h3>Rating fairness keeps our community great</h3>
  <p>Your rating will ALWAYS BE ANONYMOUS</p>
  <p>Players only get a fairness rating after they've played 3 games</p>
</div>
<table class = "rating_explained">
  <% 5.downto(1) do |i| %>
    <tr>
      <td><%= render 'layouts/ratings/show_rating', :star_size => "stars", :rating_type => "Fairness", :rating => i %></td>
      <td><%= simple_format fairness_rating_explain(i) %></td>
    </tr>
  <% end %>
</table>
