<div class = "rate_fairness" id = "rating_match_<%= rating.object.match_id %>">
  <%= rating.hidden_field :rating, :value => rating.object.rating, :class => "rating" %>
</div>
<div class = "help_rating">
 <%= link_to "?", about_fairness_ratings_path, :remote => true %>
 </div>
