<h2><%= "#{@user.fullname} sent you a message on #{APP_NAME}" %></h2>
<%= render 'layouts/mailers/tag_line' %>
<h3><%= link_to "View #{@user.firstname}\'s message", conversations_url(:redirect_url => conversations_path, :host => @host) %></h3>
<%= render 'layouts/mailers/sender_profile' %>
