<div class = "conversation_wrapper">
<div class = "conversation_index_column">
<%= render "conversation_list" %>
</div>
<div class = "conversation_show_column">
	<% if @conversation %>
	<ul class = "message_list">
<%= render 'messages/message_list' %>
</ul>
<% end %>
	
</div>
</div>