<div class = "dialog_new_message">
	<div class = "new_message_form"></div></div>
	
<div class = "listing" >
	<%= render :partial => "users/user_summary_partials/user_summary", :collection => @nearby_users, :as => :user %>
	
</div>