
<div class = "user_profile round_soft">
	<%= render 'users/user_photo_partials/user_profile_picture' %>
	<div class = "user_info">
		<div class = "main_user_name">
			<%= @full_name %>
		</div>
	</div>
	<div class = "user_location">

	</div>

</div>

<div class = "dialog_photo_upload"><div class = "photo_form"></div>
</div>
