<div class = "dialog_new_message">
  <div class = "new_message_form"></div></div>
<div class = "user_profile round_soft">
  <%= render 'users/user_profile_partials/user_basic' %>
  <%= render 'users/user_profile_partials/user_information' %>
</div>
<%= render 'users/user_profile_partials/user_nav' %>
<div class = "listing" >
  <%= render :partial => 'users/user_summary_partials/user_summary', :collection => @user.friends, :as => :user %>
</div>
