<div class = "user_profile round_soft">
	<%= render 'users/user_photo_partials/user_profile_picture' %>
	<div class = "user_info">
		<%= render 'users/user_profile_partials/user_info' %>
		
	</div>
	<div class = "user_location">

	</div>
</div>
<div class = "listing" ></div>

