<div class = "user_information">
    <div class = "main_user_name">
      <%= @user.fullname %>
    </div>
    <div class = "user_details">
      <div class = "user_info">
        <%= render 'users/user_profile_partials/user_info' %>
      </div>
      <div class = "user_info2">
        <%= render 'users/user_profile_partials/user_info2' %>
      </div>
    </div>
  </div>