<div class = "user_basic">
    <%= render 'users/user_photo_partials/user_profile_picture', :user => @user %>
    <div class = "profile_buttons">
      <% unless current_user?(@user) %>
        <%= render 'friendships/simple_friend_button', :user => @user %>
        <%= render 'messages/message_button', :user => @user %>
      <% end %>
    </div>
  </div>