<div class = "main_user_name">
	<%= @full_name %>
</div>
<% if @user == @current_user && @user.first_rating.blank? %>
	<%= form_for @user do |user| %>
		<%= render 'layouts/ratings/first_rating', :user => user %>
	<% end %>
<% else %>
	<div class = "rating">
		<div class = "stars empty"><div class = "stars filled_<%= @user.first_rating %>"></div></div>
	</div>
<% end %>

