<h1>Invite your friends</h1>
<%= render 'layouts/error_messages', :object => @invitation %>
<%= render 'invitations/invitation_forms/email' %>
<%= render 'invitations/invitation_forms/facebook' %>
<%= render 'invitations/invitation_forms/ussquash' %>