<ul class = "match_list">
  <%= render :partial => 'matches/match_summary', :collection => @matches, :as => :match %>
</ul>
<div class = "dialog_about_fairness">
  <div class = "about_fairness_wrapper"></div></div>
