$(document).ready(function(){
	$.ajaxSetup({ cache: true });
	$.getScript('//connect.facebook.net/en_UK/all.js', function(){
		
		FB.init({
			appId: '<%= FACEBOOK_CONFIG["app_id"] %>',
			channelUrl: '<%= FULL_ROOT %>channel.html',
	      status     : true, // check login status
		  cookie     : true, // enable cookies to allow the server to access the session
		  xfbml      : true  // parse XFBML
		}); 


		$("#fb_logout").click(function(){
			fb_logout();
		});

		fb_login();

	});
});


function fb_login(){
	FB.getLoginStatus(function(response) {
		console.log(response.status);
		if (response.status === 'connected') {
		    	//We're handling the situation where they 
		      // have logged in to the app.
		      if ($("#session_signup").length){
		      	connected_fb_user(response);
		      }
		  } else if (response.status === 'not_authorized') {
		      // In this case, the person is logged into Facebook, but not into the app, so we call
		      // FB.login() to prompt them to do so. 
		      signup_user_to_app(response);
		  } else {
		      // In this case, the person is not logged into Facebook, so we call the login()
		      log_user_into_fb(response);
		  }
		});
}



$.fn.fb_logger_redirect = function(response){
	if ($(this).length){
		session_data = $(this);
		logged_in = to_bool(session_data.attr("data-logged"));
		fb = to_bool(session_data.attr("data-fb"));

		if (logged_in==true && fb==true){

			$.ajax({
				type: "DELETE",
				url: '/logout',
				success: function(){
					window.location.replace("/");
				}

			}).fail(function(){
				console.log("error");
			});

		}		     	

	}	

}

function connected_fb_user(response){
	FB.api('me?fields=picture.type(square),name', function(api_response){
		img_url = api_response.picture.data.url;
		name = api_response.name;
		$(".custom_login").replaceWith('<a href="#" id="special_link"><img src="'+img_url+'"/></a>');
		$("#special_link").after('<a href="/logout" id="fb_logout" class = "not_fb_user" onclick = "fb_logout()">Not '+name+'?</a>');
		$("#special_link").click(function(e){
			connected_fb_user_login(response);
		});
		$("#fb_signup").click(function(e){
			e.preventDefault();
			connected_fb_user_login(response);

		});

	});

}

function connected_fb_user_login(response){
	var input = document.createElement('input');
	input.type = 'hidden';
	input.name = 'signed_request';
	input.value = response.authResponse['signedRequest'];
	var form = document.createElement('form');
	form.method = 'post';
	form.action = '<%= FULL_ROOT %>sessions';
	form.appendChild(input);
	form.submit();
}

function signup_user_to_app(response){
	if ($("#session_signup").length){
		$("#fb_signup").click(function(e){
			e.preventDefault();
			window.location.replace("/users/new/fb");
		});
	}else{
		$("#session_data").fb_logger_redirect(response);
	}
}


function log_user_into_fb(response){
	if ($("#session_signup").length){
		$("#fb_signup").click(function(e){
			e.preventDefault();
			FB.login(function(response){
				if (response.status == 'not_authorized'){
					window.location.replace("/users/new/fb");
				}else if (response.status == 'connected') {
					connected_fb_user_login(response);
				}
			});
		});
	}else{
		$("#session_data").fb_logger_redirect(response);
	}

}

function fb_logout(){
	FB.logout(function(response) {

	});
}

