<h2><%= if @match.winner == @user
 "#{@user.fullname} won a squash match against you"
 else
 	"#{@user.fullname} lost a squash match against you"
 end %></h2>
<%= render 'layouts/mailers/tag_line' %>
<h3>How could this be??
  <%= link_to "Confirm your match with #{@user.firstname}", user_matches_url(@recipient, :redirect_url => user_matches_path(@recipient), :host => @host) %></h3>
<%= render 'layouts/mailers/sender_profile' %>
