/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.dialog
 *= require jquery.ui.progressbar
 *= require jquery.ui.autocomplete
 *= require jquery.ui.tooltip
 *= require token-input
 *= require token-input-facebook
 */

 .main_container{
 	top: 55px;
 }

.main_activity, .main_container{
	min-height: 100%;
	width: 100%;
	margin: 0px;
	position: absolute;


}
 .not_fb_user{
 	font-size: 75%;
 }

 .listing{
 	padding: 10px;
 	margin: 0px auto;
 	min-height: 100%;
 	width: 1020px;
 	overflow: hidden;
 }

.time_summary{
	display: inline-block;
	font-size: 80%;
}

.notification{
	position: absolute;
	background-color: red;
	color: white;
	font-weight: bold;
	padding: 3px;
	font-size: 75%;
	top: -5px;
}

span.vertical_align{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin: auto;
}

