/* 
html5doctor.com Reset Stylesheet v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size: 14px;
    font-family: "Helvetica Neue", arial, sans-serif;
    vertical-align:baseline;
    background:transparent;

    h3{
        font-size: 110%;
        padding-bottom: 5px;
    }

    h2{
        font-size: 200%;
    }

    h4{
        font-size: 110%;
        line-height: 200%;
    }

    h5{
        font-size: 110%;
        font-weight: normal;
        line-height: 150%;
    }

    
}

li{
    list-style-type: none;
}

html, body{
        height: 100%;
        width: 100%;
        min-width: 1300px;
    }
    
body {
    line-height:1;
    
       
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: #19558d;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #19558d;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

 .round{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px;
 }

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #595959;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #595959;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #595959;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #595959;
}