.error_explanation{

	h3{
		background: #f06a73;
		padding: 3px;
		color: white;
		margin-bottom: 10px;
	}
	
	ul{
		li{
			border: 2px solid #f06a73;
			color: #f06a73;
			margin: 5px auto;
			padding: 3px; 
		}
	}
}