// Place all the styles related to the FairnessRatings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.new_fairness_rating, .edit_fairness_rating{
	height: 35px;
	width: 350px;
	margin-left: 70px;


	div, label,form{
		display: inline-block;
	}

	div.rating_wrapper{
		height: 100%;
	}

	
	

	label{
		vertical-align: top;
		padding-top: 5px;
		font-size: 90%;
		width: 150px;

	}

	.help_rating{
		margin-left: 10px;
		height: 100%;
		vertical-align: middle;

		a{
			vertical-align: middle;
			font-size: 110%;
			display: inline-block;
			height: 100%;
		}


	}

	
}


.rating_explained{
	tr{

	}
	td{
		padding: 5px;
		text-align: top;
		vertical-align: top;
	}
}