.header{
 	height: 45px;
 	width: 100%;
 	border-bottom: 1px solid #C2C2CF;
 	position: fixed;
 	

 	a{
 		vertical-align: middle;
 	}

 	.container{
 		min-width: 950px;
 		height: 100%;

 		padding: 10px 150px 0px 50px;
 		margin: 0px auto;

 	}

 	nav{
 		display: inline-block;
 	}

 	.header_left{
 		margin-left: 50px;
 		float: left;
 		display: inline-block;

 		a{
 			font-size: 120%;
 			vertical-align: middle;

 		}
 	}

 	.header_right{
 		height: 100%;
 		float: right;
 		margin-right: 50px;
 		display: inline-block;

 		.invite_new_users{
 			margin-right: 10px;
 		}

 		.user_settings{
 			height: 100%;
 			width: 100%;
 			display: inline;

 			.my_profile_button{
 			vertical-align: middle;
 			margin: 0px auto;
 			display: inline-block;
 			margin-right: 5px;
 		}


 			a{
 				display: inline;

 				img{
 					margin-right: 5px;
 					display: inline;
 					
 				}
 			}
 			
 		}

 		.nav_menu{
 			display: none;
 			position: relative;
 			top: 5px;
 			width: 100%;
 			
 			background: white;
 			border: black 1px solid;

 			li{
 				
 				height: 25px;
 				border-bottom: 1px solid black;
 				text-align: center;
 				

 				a{
 					padding-top: 5px;
 					display: block;

 				}
 			}

 			li.logout{
 				border-bottom: 0px;
 			}



 		}

 		
 	}


 }

 .nag{
 	height: 50px;

 }

