// Place all the styles related to the invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.new_invitation_fb{

	display: inline-block;

	.invite_fb_img{
		vertical-align: middle;
	}

}

.us_squash_invite{
	vertical-align: middle;

	img{
		vertical-align: middle;
	}


}