// Place all the styles related to the invitations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.invitation_wrapper, .friendship_wrapper{
	width: 1000px;
	margin: 0px auto;
	height: 100%;
	overflow: hidden;
}

.friendship_column{
	height: 100%;
	width: 500px;
	float: left;
	
	margin-right: 10px;
	overflow: hidden;
	padding: 10px;

	ul.pending_friendship_buttons{
		display: block;
		border-bottom: 1px solid #C2C2CF;
		
		height: 30px;


		li{
			display: inline-block;
			margin: 0px;
			width: 140px;
			height: 100%;
			border: 1px solid #C2C2CF;
			border-bottom: 0px;
			vertical-align: middle;
			text-align: center;

		}

		a{
			display: block;
			line-height: 30px;
			vertical-align: middle;	

		}



	}

	ul.friendship_list{
		width: 100%;
	}


}

.invitation_column{
	height: 100%;
	width: 425px;
	float: left;
	margin-left: 10px;
	padding: 10px;
}
.new_invitations{
	border: 1px solid #C2C2CF;
	width: 400px;
	height: 150px;
	margin: 0px auto;
	padding: 20px;

	li.invite_method{
		margin-top: 10px;
	}

	form {
		label{
			display: inline-block;
			width: 50px;
		}

		input[type=text]{
			width: 250px;
		}

		img{
			vertical-align: middle;
		}

	}
}





.us_squash_invite{
	vertical-align: middle;
	display: inline-block;
	margin: 10px auto auto 10px;

	img{
		vertical-align: middle;
		margin-right: 3px;

	}


}