.marker_container{
	width: 10px;
	height: 10px;
	background-color: rgb(54, 25, 25); 
	background-color: rgba(54, 25, 25, .2);
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	font-weight: bold;
	color: black;
}