// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.unconfirmed_matches{
	left: 50px;

}

.match_list{
	width: 425px;
	margin: auto;
	background: white;
	

	
	.separator{
		width: 85%;
		
		border-bottom: 1px solid #C2C2CF;
		margin: auto;

	}

	.match_summary{
		height: 55px;
		margin: 2px 0px;
		padding: 5px;

		.match_opponent_photo{
			float: left;
			width: 60px;
			height: 100%;
			text-align: center;
			

			img{
				vertical-align: middle;
				max-height: 50px;
				max-width: 50px;
			}
		}

		.match_content{
			float: left;
			height: 100%;
			padding-left: 5px;
		}

		.match_main_line{
			height: 20px;
			
		}

		.time_summary{
			color: #76787A;
		}


		.match_info, .match_confirmation{
			display: inline-block;
		}

		.match_info{
			width: 250px;
			height: 100%;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;


		}

		.opponent{
			margin-right: 20px;
			vertical-align: baseline;

		}


		.reject_match, .cancel_match{
			font-size: 90%;
		}

		.prompt_text{
			font-size: 85%;
			color: $grey_font;
			margin-left: 5px;

			a{
				color: #7aaad1;
			}

		}
	}
}
.edit_match{
	display: inline-block;


	input[type=submit]{
		font-size: 90%;
		padding: 3px;
	}
}

.new_match{
	width: 465px;
	margin: auto auto 10px;
	background: white;
	padding: 15px 30px;
	border: $border_default;

	label{
	font-size: 14px;
}
	

	table{
		

		th{
			font-weight: normal;
			text-align: left;
			padding-left: 5px;

			
			

		}

		td{
			height: 100%;
			padding: 0px;
			display: table-cell;
		}
		td:first-child{
			width: 210px;
			vertical-align: middle;
		}

		td:first-child + td{
			width: 250px;
		}

		.winner_loser{
			float: right;
			margin-right: 5px;
		}

	}

	ul.token-input-list-facebook{
		width: 250px;
		
	}


}
