

$starWidth: 25px;
$starOffset: 0 -43px;
$numStars: 5;
$steps: 1;
$total: $numStars * $steps;

@mixin filled($n: 0){
	width: ($starWidth / $steps) * $n;
}

@mixin stars_values{
	
	vertical-align: middle;
	padding: 0px;
	margin-left: 0px;
	position: relative;
	float: left;	
}

@mixin large_stars{
	height: $starWidth;
	background-size: $starWidth;

}

.stars{
	

	&.empty{
		background-position: $starOffset;
		width: $numStars * $starWidth;
		background: url(/assets/rating/star_empty.png) repeat-x top left;
		@include stars_values;
		@include large_stars;
	}

	
	&.yellow{
			background: url(/assets/rating/star_full.png) repeat-x top left;
		}

		&.blue{
			background: url(/assets/rating/star_blue.png) repeat-x top left;

		}
	

	@for $i from 0 through ($total){
		&.filled_#{$i} {@include filled($i);
			@include stars_values;
			@include large_stars;
		}

		
	}
}

.input_stars{
	@include stars_values;
	@include large_stars;
	margin: 0px;
	width: $starWidth;
	background-image: url(/assets/rating/star_empty.png);
	background-repeat: no-repeat;

	&.yellow{
		background-image: url(/assets/rating/star_full.png);
	}

	&.blue{
			background-image: url(/assets/rating/star_blue.png);

		}
	
}

$small_star: 20px;


@mixin small_filled($n: 0){
	width: ($small_star / $steps) * $n;
}

@mixin small_stars{
	height: $small_star;
	background-size: $small_star;	
}

.small_stars{
	

	&.empty{
		background-position: $starOffset;
		width: $numStars * $small_star;
		background: url(/assets/rating/star_empty.png) repeat-x top left;
		@include stars_values;
		@include small_stars;

	}

	&.yellow{
			background: url(/assets/rating/star_full.png) repeat-x top left;
		}

		&.blue{
			background: url(/assets/rating/star_blue.png) repeat-x top left;

		}

	@for $i from 0 through ($total){
		&.filled_#{$i} {@include small_filled($i);
			@include stars_values;
			@include small_stars;

		}
	}
}

.rating_wrapper{
	display: block;
width: 100%;
	
			
}

.rating_label, .rating{
	display: inline-block;
	vertical-align: middle;
}

.rating_label{
	width: 45px;
	text-align: left;
}


.user_summary, .user_mini_summary{
	.rating_wrapper{
		height: 20px;
		margin-top: 5px;
	}

	.rating_label{
font-size: 70%;	
	}

}

.user_profile{
.user_info{
	.rating_wrapper{
		height: 25px;
	}

	.rating_label{
		font-size: 90%;	
		width: 55px;

	}

}
}