// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#fb_signup{
	padding: 10px;
	font-size: 20px;	
}

#fb_signup:before{
	background: url('FB_transparent_small.png') -5px -5px;
	content: " ";
	height: 22px;
	width: 30px;
	float: left;
	position: relative;
	display: inline-block;
	

}

.new_session{

	width: 300px;
	margin: auto;
	.flash{
		background: #f06a73;
		color: white;
		width: 200px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		margin: 10px auto 10px 10px;

		.flash_text{
			vertical-align: middle;
			display: inline-block;
			color: white;

		}

	}
}

.landing_container{
	width: 100%;
	height: 100%;
	

	.explain_wrapper{
background: $grey;
		float: left;
		margin-right: -600px;
		width: 100%;
		height: 100%;
		

		.app_explain{
			margin-right: 600px;
			margin-left: 200px;
			margin-top: 200px;
			
		}

	}

	.signup_wrapper{
		width: 600px;
		background: white;
		float: right;
		height: 100%;
		color: $soft_font;

		#session_signup{
			width: 400px;
			height: 300px;
			margin: 150px auto auto;
			border: $border_default;
			padding: 10px;

			h3{
				margin: 20px auto 10px;
				text-align: center;
			}

			h5{
				margin: 10px auto;
				text-align: center;
			}
		}

		.new_user_signup{
			width: 300px;
			margin: auto;
		}

	}




}

.fb_login_wrapper{
	p{
		font-weight: bold;
		color: #333;
	}
	a{
		display: inline-block;
		vertical-align: middle;
	}
	width: 200px;
	margin: auto auto 20px;
}