// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fb_signup{
	padding: 10px;
	font-size: 20px;	
}

#fb_signup:before{
	background: url('FB_transparent_small.png') -5px -5px;
	content: " ";
	height: 22px;
	width: 30px;
	float: left;
	position: relative;
	display: inline-block;
	

}

.new_session{

	width: 300px;
	.flash{
		background: #f06a73;
		color: white;
		width: 200px;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		margin: 10px auto 10px 10px;

		.flash_text{
			vertical-align: middle;
			display: inline-block;
			color: white;

		}

	}
}

