// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#fb_signup{
	border: 1px #062C50 solid;
	padding: 10px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	background: -webkit-linear-gradient(rgb(79, 128, 181) 0px, rgb(50, 92, 153) 70%) ; /* For Safari */
	background: -o-linear-gradient(rgb(79, 128, 181) 0px, rgb(50, 92, 153) 70%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(79, 128, 181) 0px, rgb(50, 92, 153) 70%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(79, 128, 181) 0px, rgb(50, 92, 153) 70%); /* Standard syntax */
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	
}

#fb_signup:before{
	background: url('FB_transparent_small.png') -5px -5px;
	content: " ";
	height: 22px;
	width: 30px;
	float: left;
	position: relative;
	display: inline-block;
	

}

