.user_summary{
	border: 1px solid black;
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
	padding: 10px;

	.user_summary_top{
		width: 100%;
		height: 125px;
		position: relative;

		.user_summary_info{
			float: left;
			padding: 5px;

		}

		.user_photo{
			float: left;
			margin-right: 10px;

		}
		
	}

	.user_summary_bottom{
		width: 100%;
		height: 75px;
		position: relative;

		.user_interact{
			width: 50%;
			height: 100%;
			float: left;
		}

		.user_location{
			width: 50%;
			float: left;

		}
		
		
	}
}

.user_mini_summary{
	
	height: 50px;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #C2C2CF;
	
	.mini_summary_photo{
		float: left;
		text-align: left;
		width: 150px;
		height: 100%;
		margin-top: 10px;

		
		img{
			vertical-align: middle;
			

		}
		
		a{
			display: block;
			
		}


		.my_profile_button{
			margin-right: 5px;
		}
		
		
	}

	.user_interact{
		display: block;
		float: right;
		width: 75px;

		.simple_friend_button{
			margin-bottom: 5px;
		}

		.reject_request{
			width: 75px;
			text-align: center;
			margin: auto;
		}
	}


	.ratings{
		display: inline-block;
		margin-right: 40px;	
		float: left;


	}

	.user_location{
		display: inline-block;
		vertical-align: middle;
		float: left;
		height: 100%;

		span{
			display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin: auto;
		}


	}


}

.user_summary, .user_mini_summary{
	.skill_rating, .fairness_rating{
			display: block;
			width: 100%;
			height: 20px;
			margin-top: 5px;
			
		}
}