// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.new_user_wrapper{
	

	.new_user{
		width: 300px;
		
		margin: 50px auto;
		border: $border_default;
		box-shadow: $shadow_default;
		padding: 10px;

		input, label{
			font-size: 120%;
			vertical-align: middle;
		}

		li{
			margin-bottom: 15px;

			p{
				color: $grey_font;
			}
		}

		



		h2{
			margin-bottom: 10px;
		}
	}
}
.user_profile{
	border: 1px solid #C2C2CF;
	width: 800px;
	height: 250px;
	margin: 0px auto;
	padding: 20px;
	background: white;

	.user_information{
		float: left;
		height: 100%;
		width: 600px;
	}

	.user_profile_info{
		display: block;
		
	}

	.main_user_name{
		font-size: 150%;
		font-weight: bold;
		display: block;
		height: 15%;
	}


	.user_basic{
		height: 100%;
		float: left;
		width: 200px;

		.profile_buttons{
			width: 100%;

			.message_button, .simple_friend_button{
				margin: 5px 10px;
				display: inline-block;
				
			}


		}

		.user_picture{

			width: 160px;
			margin: 0px auto;


			.change_photo{
				visibility: hidden;
			}

			.change_photo:hover{
				visibility: visible;
			}




			.user_profile_pic{
				max-height: 200px;
				max-width: 150px;
				display: inline;
				margin: auto auto;

			}

			.user_profile_pic:hover + .change_photo {			
				visibility: visible;			
			}

		}

	}


	
	.user_info{
		display: inline-block;
		width: 250px;
		height: 90%;
		
		.user_ratings{
			height: 80px;

			.skill_rating, .fairness_rating{
				display: inline-block;
				width: 100%;
				height: 25px;
				margin-bottom: 5px;
			}

			.edit_user{
				margin-bottom: 5px;

				.skill_rate_prompt{
					color: $notify_red;
					margin-bottom: 5px;
				}
				
				

			}

		}

		
	}

	.user_info2{
		display: inline-block;
		height: 90%;
		width: 325px;
		vertical-align: top;
		

		.user_intro{
			
			height: 120px;
			vertical-align: top;

			a{
				height: auto;
			}

			a.introduce_prompt{
				color: $notify_red;
				text-decoration: underline;
			}

		}

		#user_intro{
			
			height: 120px;

			

		}
	}

	
}

.change_photo{
	display: block;
	position: relative;
	width: 100px;
	margin: auto;
	top: -35px;

}

.dialog_photo_upload{
	border: 1px solid black;
	display: none;
}

.photo_form{
	

	.edit_user{
		display: inline;
	}

}

.user_details, .edit_user_wrapper{
	width: 600px;
	border: $border_default;
	padding: 15px 30px;
	margin: auto;
	background: white;

	.edit_user_title{
		margin-bottom: 20px;

	h2{
		text-align: center;
		margin-bottom: 5px;	
		color: $soft_font;	
	}

	h3{
		text-align: center;
		font-style: italic;
		color: $soft_font;
	}
}

	p{
				width: 200px;
				height: 100%;
				display: inline-block;
				color: $soft_font;
				font-weight: bold;
				vertical-align: top;
			}

	.photo_wrapper{
		padding: 15px 30px;

		h3{
			display: inline-block;
			vertical-align: top;
			width: 200px;
		}

		
		.user_picture{
				display: inline-block;
			max-height: 200px;
			width: 150px;
			margin: 10px auto;


			.user_profile_pic{
				max-height: 200px;
				max-width: 150px;
				display: inline;
				margin: 0px auto;
				border: $border_default;

			}

		}
	}

	.edit_user{
		h3{
			border-top: $border_default;
			padding: 15px;
		}
		li{
			min-height: 20px;
			border-top: $border_default;
			padding: 15px 30px;

			label, input{
				font-size: 110%;
				vertical-align: middle;
			
			}

			
		}

		.skill_rate_prompt{
				width: 200px;
				display: inline-block;
			}

		.rating_wrapper{
			display: inline-block;
			width: auto;

			
			label{
				display: none;
			}
		}

		input[type='checkbox']{
			width: 15px;
			height: 15px;
		}

		input[type="submit"]{
			float: right;
			@include default_submit;
		}
	}

	.delete_user_wrapper{
		margin-top: 20px;

		a, p{
			display: inline-block;
			font-size: 90%;
		}

		p{
			color: $border_default;
			font-style:  italic;
			width: auto;

				height: 100%;
				display: inline-block;
				font-weight: normal;
				vertical-align: baseline;
		}
	}

}

textarea#user_intro{
	resize: none;
}

.user_buttons{
	$user_button_height: 30px;
	width: 800px;
	margin: 10px auto;
	border: 1px solid #C2C2CF;
	height: $user_button_height;
	position: relative;
	background: white;
	

	ul{
		position: relative;
		vertical-align: middle;
		height: 100%;
		

		li{
			text-align: center;
			
			vertical-align: middle;
			border-right: 1px solid #C2C2CF;
			height: 100%;
			width: 92px;
			display: inline-block;

		}
	}

	a{
		display: block;
		line-height: $user_button_height;
		vertical-align: middle;		

	}
}

#user_country{
	width: 150px;
}

.user_intro{
	word-wrap: break-word;
	vertical-align: text-top;
}