// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.user_profile{
	border: 1px solid #C2C2CF;
	width: 800px;
	height: 250px;
	margin: 0px auto;
	padding: 20px;

	.user_basic{
		height: 100%;
		float: left;
		width: 200px;

		.profile_buttons{
			width: 100%;

			.message_button, .simple_friend_button{
				margin: 5px 10px;
				display: inline-block;
				
			}

			

			
		}
	}



	.user_picture{
		
		width: 160px;
		margin: 0px auto;
		

		.change_photo{
			visibility: hidden;
		}

		.change_photo:hover{
			visibility: visible;
		}

		
		

		.user_profile_pic{
			max-height: 200px;
			max-width: 150px;
			display: inline;
			margin: auto auto;

		}

		.user_profile_pic:hover + .change_photo {			
			visibility: visible;			
		}

	}

	.user_info{
		float: left;
		width: 450px;
		height: 100%;
		
		.main_user_name{
			font-size: 150%;
			font-weight: bold;
			margin-top: 10px;
		}
	}

	.user_location{
		float: left;
		height: 100%;
	}

	
}

.change_photo{
			display: block;
			position: relative;
			width: 100px;
			margin: 0px auto;
			top: -27px;
			
		}

.dialog_photo_upload{
	border: 1px solid black;
	display: none;
}

.photo_form{
	

	.edit_user{
		display: inline;
	}

}

.user_details, .edit_user_wrapper{

	.user_picture{
		max-height: 200px;
		width: 150px;
		
		.user_profile_pic{
		max-height: 200px;
		max-width: 150px;
			display: inline;
			margin: 0px auto;

		}

	}

}

.user_buttons{
	$user_button_height: 30px;
	width: 800px;
	margin: 10px auto;
	border: 1px solid #C2C2CF;
	height: $user_button_height;
	position: relative;
	

	ul{
		position: relative;
		vertical-align: middle;
		height: 100%;
		

		li{
			text-align: center;
			
			vertical-align: middle;
			border-right: 1px solid #C2C2CF;
			height: 100%;
			width: 92px;
			display: inline-block;

		}
	}

	a{
		display: block;
		line-height: $user_button_height;
		vertical-align: middle;		

	}
}