// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'variables';

.new_user_wrapper{
	

	.new_user{
		width: 300px;
		
		margin: 50px auto;
		border: $border_default;
		box-shadow: $shadow_default;
		padding: 10px;

		input, label{
			font-size: 120%;
			vertical-align: middle;
		}

		li{
			margin-bottom: 15px;

			p{
				color: $grey_font;
			}
		}

		input[name='commit']{
			padding: 3px 10px;
			color: $soft_font;
			background: #47BC60;
			background: -moz-linear-gradient(top, #47BC60 0%, #39A64E 100%);
			background: -webkit-gradient(linear, left top, left bottom, color(0%, #47BC60), color(100%, #39A64E));
			background:-webkit-linear-gradient(top, white 0%,#F0F0F0 100%);
			background:-o-linear-gradient(top,#47BC60 0%,#39A64E 100%);
			background:-ms-linear-gradient(top,#47BC60 0%,#39A64E 100%);
			background:linear-gradient(top, white 0%,#F0F0F0 100%);
			border: $border_default;
			box-shadow: $shadow_default;
		}



		h2{
			margin-bottom: 10px;
		}
	}
}
.user_profile{
	border: 1px solid #C2C2CF;
	width: 800px;
	height: 250px;
	margin: 0px auto;
	padding: 20px;
	background: white;

	.user_information{
		float: left;
		height: 100%;
		width: 600px;
	}

	.user_details{
		display: block;
		
	}

	.main_user_name{
		font-size: 150%;
		font-weight: bold;
		display: block;
		height: 15%;
	}


	.user_basic{
		height: 100%;
		float: left;
		width: 200px;

		.profile_buttons{
			width: 100%;

			.message_button, .simple_friend_button{
				margin: 5px 10px;
				display: inline-block;
				
			}


		}

		.user_picture{

			width: 160px;
			margin: 0px auto;


			.change_photo{
				visibility: hidden;
			}

			.change_photo:hover{
				visibility: visible;
			}




			.user_profile_pic{
				max-height: 200px;
				max-width: 150px;
				display: inline;
				margin: auto auto;

			}

			.user_profile_pic:hover + .change_photo {			
				visibility: visible;			
			}

		}

	}


	
	.user_info{
		display: inline-block;
		width: 250px;
		height: 90%;
		
		.user_ratings{
			height: 80px;

			.skill_rating, .fairness_rating{
				display: inline-block;
				width: 100%;
				height: 25px;
				margin-bottom: 5px;
			}

			.edit_user{
				margin-bottom: 5px;

				.skill_rate_prompt{
					color: red;
					margin-bottom: 5px;
				}
				
				

			}

		}

		
	}

	.user_info2{
		display: inline-block;
		height: 90%;
		width: 325px;
		vertical-align: top;
		

		.user_intro{
			
			height: 120px;
			vertical-align: top;

			a{
				height: auto;
			}

		}

		#user_intro{
			
			height: 120px;

			

		}
	}

	
}

.change_photo{
	display: block;
	position: relative;
	width: 100px;
	margin: 0px auto;
	top: -27px;

}

.dialog_photo_upload{
	border: 1px solid black;
	display: none;
}

.photo_form{
	

	.edit_user{
		display: inline;
	}

}

.user_details, .edit_user_wrapper{

	.user_picture{
		max-height: 200px;
		width: 150px;
		
		.user_profile_pic{
			max-height: 200px;
			max-width: 150px;
			display: inline;
			margin: 0px auto;

		}

	}

}

textarea#user_intro{
	resize: none;
}

.user_buttons{
	$user_button_height: 30px;
	width: 800px;
	margin: 10px auto;
	border: 1px solid #C2C2CF;
	height: $user_button_height;
	position: relative;
	background: white;
	

	ul{
		position: relative;
		vertical-align: middle;
		height: 100%;
		

		li{
			text-align: center;
			
			vertical-align: middle;
			border-right: 1px solid #C2C2CF;
			height: 100%;
			width: 92px;
			display: inline-block;

		}
	}

	a{
		display: block;
		line-height: $user_button_height;
		vertical-align: middle;		

	}
}

#user_country{
	width: 150px;
}

.user_intro{
	word-wrap: break-word;
	vertical-align: text-top;
}