.user_summary{
	border: 1px solid black;
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
	padding: 10px;

	.user_summary_top{
		width: 100%;
		height: 125px;

		.user_summary_info{
			float: left;
			padding: 5px;

			.rating{
				margin-top: 10px;
			}
		}

		.user_photo{
			float: left;
			margin-right: 10px;

		}
		
	}

	.user_summary_bottom{
		width: 100%;
		height: 100%;

		.user_interact{
			width: 50%;
			height: 100%;
			float: left;
		}

		.user_location{
			width: 50%;
			float: left;

		}
		
		
	}
}