@import 'variables';

.user_summary{
	border: $border_default;
	box-shadow: $shadow_default;
	width: 275px;
	height: 200px;
	float: left;
	margin: 20px;
	padding: 10px;
	background: white;


	.user_summary_left{
		width: 35%;
		height: 100%;
		float: left;

		.user_photo{
			margin-bottom: 5px;
			display: block;
			margin: auto;

		}

		.user_interact{
			width: 100%;
			
			display: block;
			
		}


		
	}

	.user_summary_right{
		width: 65%;
		height: 100%;
		float: left;
		position: relative;

		.user_summary_info{
			height: 50%;
			padding: 5px;

			.user_name{
				//font-size: 14px;
				height: auto;
				vertical-align: bottom;

			}

			.user_ratings{
				height: 60px;

			}

			.user_location{
				width: 100%;


			}

		}

		.user_intro{
			width: 100%;
			overflow: hidden;
			display: block;
		}


		
		
	}
}

.user_mini_summary{
	
	height: 50px;
	padding: 10px;
	display: block;
	border-bottom: 1px solid #C2C2CF;
	
	.mini_summary_photo{
		float: left;
		text-align: left;
		width: 150px;
		height: 100%;
		margin-top: 10px;

		
		img{
			vertical-align: middle;
			

		}
		
		a{
			display: block;
			
		}


		.my_profile_button{
			margin-right: 5px;
		}
		
		
	}

	.user_interact{
		display: block;
		float: right;
		width: 75px;

		.simple_friend_button{
			margin-bottom: 5px;
		}

		.reject_request{
			width: 75px;
			text-align: center;
			margin: auto;
		}
	}


	.ratings{
		display: inline-block;
		margin-right: 40px;	
		float: left;


	}

	.user_location{
		display: inline-block;
		vertical-align: middle;
		float: left;
		height: 100%;

		span{
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin: auto;
		}


	}


}

