<h2><%= "You have a new friend on #{APP_NAME}" %></h2>
<%= render 'layouts/mailers/tag_line' %>
<h3><%= "#{@user.fullname} wants to play squash with you" %></h3>
<%= render 'layouts/mailers/sender_profile' %>