<div class = "user_summary round">
  <div class = "user_summary_left">
    <%= render 'users/user_summary_partials/user_summary_left', :user => user %>
    <div class = "user_summary_right">
      <%= render 'users/user_summary_partials/user_summary_right', :user => user %>
    </div>
  </div>
