<% if flash %>
  <% flash.each do |key, value| %>
    <div class = "flash round", id = "<%= key %>">
      <span class = "vertical_align"></span>
      <div class = "flash_text">
        <%= value %></div>
    </div>
  <% end %>
<% end %>
