<div class = "header">
	<div class = "container">
	<nav class = "header_left">
		<%= link_to "#{APP_NAME}", home_users_path %>
	</nav>
	<nav class = "header_right">
		<%= render 'users/user_photo_partials/small_user_photo' %>
<%= link_to "Log out", logout_path %>
</nav>
</div>

</div>
