<div class = "header">
	<div class = "container">
	<nav class = "header_left">
		<%= link_to "#{APP_NAME}", home_users_path %>
	</nav>
	<nav class = "header_right">
		<ul class = "user_settings">
		
		<%= render 'users/user_photo_partials/small_user_photo' %>
	
	<ul class = "nav_menu round">
		
		<li class = "nav_menu_line settings"><%= link_to "Hello", "#" %></li>
		<li class = "nav_menu_line logout"><%= link_to "Log out", logout_path %></li>
	</ul>
</ul>


</nav>
</div>

</div>
