<div class = "header">
	<div class = "container">
	<nav class = "header_left">
		<%= link_to "#{APP_NAME}", home_users_path %>
	</nav>
	<nav class = "header_right">
		<%= render 'layouts/settings_dropdown' %>

</nav>
</div>

</div>
